<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>cadastro</servlet-name>
        <servlet-class>br.com.senac.dsw.ProjetoDSW.cadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detalhes</servlet-name>
        <servlet-class>br.com.senac.dsw.ProjetoDSW.detalhes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editar</servlet-name>
        <servlet-class>br.com.senac.dsw.ProjetoDSW.editar</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>cadastro</servlet-name>
        <url-pattern>/ProjetoDSW/cadastro</url-pattern>
        <url-pattern>/ProjetoDSW/criar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detalhes</servlet-name>
        <url-pattern>/ProjetoDSW</url-pattern>
        <url-pattern>/ProjetoDSW/deletar</url-pattern>
        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editar</servlet-name>
        <url-pattern>/ProjetoDSW/editar</url-pattern>
        <url-pattern>/ProjetoDSW/atualizar</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
